body {
    background-image: url('immagini/frutta.jpg');
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Aggiunto per il posizionamento relativo */
}

.fruttivendolo {
    text-align: center;
    margin-bottom: 50px;
    position: relative; /* Aggiunto per il posizionamento relativo */
    background-color: rgba(255, 0, 0, 0.7); /* Sfondo semitrasparente */
    border-radius: 20px; /* Bordo stondato */
    padding: 20px; /* Aggiunto spazio intorno al contenuto */
}

.fruttivendolo h1 {
    font-family: cursive; /* Font corsivo */
    color: #f0ff1f; /* Colore del testo personalizzabile */
    font-size: 38px;
}

.offerte {
    text-align: center;
    margin-bottom: 10px;
    position: relative; /* Aggiunto per il posizionamento relativo */
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo semitrasparente */
    border-radius: 20px; /* Bordo stondato */
    padding: 20px; /* Aggiunto spazio intorno al contenuto */
}

.offerte h2 {
    font-size: 24px;
    color: red;
}

.zoom-animation {
    font-size: 18px;
    animation: zoomAnimation 2s ease-in-out infinite alternate; /* Animazione di zoom in e zoom out */
}

@keyframes zoomAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.immagini {
    display: flex;
    justify-content: space-around;
    position: relative; /* Aggiunto per il posizionamento relativo */
    z-index: 1; /* Assicura che le immagini siano sopra la scritta */
}

.immagine {
    position: relative;
    text-align: center;
    width: 200px;
    animation: moveIn 5s ease forwards infinite; /* Animazione di ingresso */
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo semitrasparente */
    border-radius: 20px; /* Bordo stondato */
    padding: 20px; /* Aggiunto spazio intorno al contenuto */
}

.immagine img {
    width: 100%;
    height: auto;
}

.prezzo {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    background-color: #ff3333; /* Colore del prezzo personalizzabile */
    color: white;
    border-radius: 10px;
    font-size: 16px;
    animation: zoomPrice 1s ease-in-out infinite alternate; /* Animazione di zoom in e zoom out */
}

@keyframes zoomPrice {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.8);
    }
}

@keyframes moveIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.immagine-left {
    position: relative;
    text-align: center;
    width: 200px;
    animation: moveFromLeft 5s ease infinite alternate; /* Animazione di ingresso da sinistra */
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo semitrasparente */
    border-radius: 20px; /* Bordo stondato */
    padding: 20px; /* Aggiunto spazio intorno al contenuto */
}

.immagine-right {
    position: relative;
    text-align: center;
    width: 200px;
    animation: moveFromRight 5s ease infinite alternate; /* Animazione di ingresso da destra */
    background-color: rgba(255, 255, 255, 0.7); /* Sfondo semitrasparente */
    border-radius: 20px; /* Bordo stondato */
    padding: 20px; /* Aggiunto spazio intorno al contenuto */
}

@keyframes moveFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
