html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#background{
    width: 100%;
    height: 100%;
    background-image: url('image/Ristorante.png');
    background-size: cover;
    background-position: center;
}

#cuoco img {
    position: absolute;
    bottom: 0;
    right: 1vw;
    animation: moveUp 5s ease forwards;
}

@keyframes moveUp {
    from {
        bottom: -20%;
    }
    to {
        bottom: -5%;
    }
}