/*Colori background car info*/
:root {
    --blue-transparent: rgba(0, 120, 255, 0.1);
    --black-transparent: rgba(0, 0, 0, 0.1);
    --red-transparent: rgba(255, 0, 0, 0.1);
}

.slideshow {
    width: 100%;
    height: 75vh;
    background-image: url('image/tesla_blu.png');
    background-size: cover;
    background-position: center;
    position: relative;
    animation: changeImage 15s infinite steps(1);
}

.car-info {
    position: absolute;
    top: 5vh;
    left: 1vw;
    color: #000000;
    font-family: "Apple Braille", serif;
    opacity: 0;
    width: 16vw;
    animation: infoChange 15s infinite steps(1);
    border-radius: 1vw;
    padding: 2vh;
    box-sizing: border-box;
    font-size: 2vh;
}

.car-info h2,
.car-info p {
    margin: 0;
    padding: 0;
}

.car-info p + h2 {
    margin-top: 2vh;
}


/*Animazione auto*/

/*Container per logo tesla*/
.logo-container {
    width: 100%;
    bottom: 5.5vh;
    overflow: hidden;
    position: relative;
    height: 10vh;
}

/*Logo tesla*/
.tesla-logo {
    position: absolute;
    width: 5vw;
    animation: slideLogo 10s linear infinite;
}

/*Scritta Testa*/
.logo_word {
    position: absolute;
    top: 0.5vh;
    right: 4vw;
    animation: zoomInOutCustom 5s infinite;
}

.logo_word img {
    width: 15vw;
}

/*Zoom In e Out scritta tesla*/
@keyframes zoomInOutCustom {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.5); }
}

.typewriter-container {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    right: 50%;
    width: auto;
}

.typewriter {
    position: relative;
    bottom: 4vh;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 24vw;
    margin-top: 2vh;
    margin-right: 4vw;
}

.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    font-size: 4vh;
}

#info1 {
    background-color: var(--blue-transparent);
    animation-delay: 0s;
}

#info2 {
    background-color: var(--black-transparent);
    animation-delay: -10s;
}

#info3 {
    background-color: var(--red-transparent);
    animation-delay: -5s;
}

@keyframes changeImage {
    0%, 33% { background-image: url('image/tesla_blu.png'); }
    34%, 66% { background-image: url('image/tesla_nera.png'); }
    67%, 100% { background-image: url('image/tesla_rossa.png'); }
}

@keyframes infoChange {
    0%, 33% { opacity: 1; }
    34%, 100% { opacity: 0; }
}

@keyframes slideLogo {
    from { left: -100px; }
    to { left: 100%; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

@keyframes zoomInOut {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.1); }
}

@media (max-width: 76vw) {
    .slideshow {
        background-size: contain;
        background-repeat: no-repeat;
    }
}

/* Button */
@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-15deg);
    }
    20% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

