<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestione Impianti</title>
  <link rel="stylesheet" href="/Gestione_impianti/gestione_impianti.css">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

  <script src="/Gestione_impianti/gestione_impianti.js" defer></script>
</head>
<body>
<div class="container">
  <h2>Gestione Impianti</h2>
  <div class="content">
    <!-- Display all Impianti -->
    <div id="impiantiList">
      <table id="impiantiTable">
        <thead>
        <tr>
          <th>ID</th>
          <th>Palinsesto</th>
          <th>Latitudine</th>
          <th>Longitudine</th>
          <th>Stato</th>
          <th>Azioni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="impianto : ${impianti}">
          <td th:text="${impianto.idImpianto}"></td>
          <td th:text="${impianto.palinsesto.idPalinsesto}"></td>
          <td th:text="${impianto.latitudine}"></td>
          <td th:text="${impianto.longitudine}"></td>
          <td th:text="${impianto.stato} ? 'Attivo' : 'Non attivo'"></td>
          <td>
            <img src="/Gestione_impianti/Immagini/edit.png" class="action-icon" action="edit" onclick="openEditModal(event, this)">
            <img src="/Gestione_impianti/Immagini/trash.png" class="action-icon" onclick="deleteRow(event, this)">
          </td>
        </tr>
        <tr>
          <td colspan="6" class="add-button-container">
            <a href="#" class="add-button" onclick="openAddModal()">Aggiungi Impianto</a>
          </td>
        </tr>
        </tbody>


      </table>
    </div>
  </div>
  <div id="map-container">
    <h2>Mappa degli Impianti</h2>
    <div id="mapid"></div>
  </div>
</div>


<div id="addModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeAddModal()">&times;</span>
    <h3>Aggiungi Nuovo Impianto</h3>
    <form action="#" id="addForm" method="post" th:action="@{/dbaccess/add}" th:object="${impianto}">
      <div>
        <label for="IdImpianto">ID Impianto:</label>
        <input type="text" id="IdImpianto" name="idImpianto" th:field="*{idImpianto}" required><br>
        <label for="palinsesto">Palinsesto:</label>
        <select id="palinsesto" name="palinsesto.idPalinsesto">
          <option th:each="palinsesto : ${palinsesti}" th:value="${palinsesto.idPalinsesto}"
                  th:text="${palinsesto.idPalinsesto}"></option>
        </select>
      </div>
      <div>
        <label>Coordinate:</label>
        <div id="mapAdd" style="height: 250px; width: 100%;"></div>
        <label for="latitudine">Latitudine:</label>
        <input type="text" id="latitudine" name="latitudine" required/><br>
        <label for="longitudine">Longitudine:</label>
        <input type="text" id="longitudine" name="longitudine" required/>
      </div>
      <button type="submit">Aggiungi</button>
    </form>
  </div>
</div>


<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeEditModal()">&times;</span>
    <h3>Modifica Impianto</h3>
    <form action="#" id="editForm" method="post" th:action="@{'/dbaccess/mod/' + ${impianto.idImpianto}}" th:object="${impianto}">
      <div>
        <label for="editStato">Stato:</label>
        <input type="checkbox" id="editStato" name="stato" onchange="toggleLatLongFields(this)"/>
        <input type="hidden" id="editStatoValue" name="stato" value="">

      </div>
      <div>
        <label for="editPalinsesto">Palinsesto:</label>
        <select id="editPalinsesto" name="palinsesto.idPalinsesto">
          <option th:each="palinsesto : ${palinsesti}" th:value="${palinsesto.idPalinsesto}"
                  th:text="${palinsesto.idPalinsesto}"></option>
        </select>
      </div>
      <div>
        <label>
          Modifica latitudine e longitudine:
          <input type="checkbox" id="editModificaLatitudine" onchange="toggleLatLongFields(this)"/>
        </label>
      </div>
      <div id="editLatLongFields">
        <!-- Campi latitudine e longitudine -->
        <div id="latitudineField" style="display: none;">
          <label for="editLatitudine">Latitudine:</label>
          <input type="text" id="editLatitudine" name="latitudine" required/>
        </div>
        <div id="longitudineField" style="display: none;">
          <label for="editLongitudine">Longitudine:</label>
          <input type="text" id="editLongitudine" name="longitudine" required/>
        </div>
      </div>
      <div id="mapEdit" style="display: none; height: 400px; width: 100%;"></div>
      <input type="hidden" id="editIdImpianto" name="idImpianto"/>
      <button type="submit">Modifica</button>
    </form>
  </div>
</div>

<script th:src="@{/Gestione_Impianti/gestione_impianti.js}"></script>

</body>
</html>
