<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista Impianti</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<h1>Lista Impianti</h1>
<table>
    <thead>
    <tr>
        <th>ID Impianto</th>
        <th>ID Palinsesto</th>
        <th>Stato</th>
        <th>Latitudine</th>
        <th>Longitudine</th>
        <th>Modifica</th>
        <th>Elimina</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="impianto : ${impianti}">
        <td th:text="${impianto.idImpianto}">ID Impianto</td>
        <td th:text="${impianto.palinsesto.idPalinsesto}">ID Palinsesto</td>
        <td th:text="${impianto.stato}">Stato</td>
        <td th:text="${impianto.latitudine}">Latitudine</td>
        <td th:text="${impianto.longitudine}">Longitudine</td>
        <td><a th:href="@{/dbaccess/mod/{idImpianto}(idImpianto=${impianto.idImpianto})}">Modifica</a></td>
        <td><a th:href="@{/dbaccess/delete/{idImpianto}(idImpianto=${impianto.idImpianto})}">Elimina</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
