<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report Impianti</title>
    <link rel="stylesheet" href="/Report_Impianti/report_impianti.css">
</head>
<body>
<h1>Report Impianti</h1>

<div id="filter-container">
    <label for="filterSelect">Seleziona Filtro:</label>
    <select id="filterSelect">
        <option value="codiceCartellone">Seleziona per Codice Cartellone</option>
        <option value="dateRange">Seleziona per Data Inizio e Data Fine</option>
        <option value="codiceCartelloneDateRange">Seleziona per Codice Cartellone, Data Inizio e Data Fine</option>
        <option value="durataVisualForm">Durata Complessiva per cartellone</option>
        <option value="durataVisualFormDate">Durata Complessiva per cartellone con data</option>
    </select>
</div>

<div id="filters">
    <div id="codiceCartellone" class="filter-section">
        <form action="#" th:action="@{/reportByCartellone}" method="get">
            <label for="codCartellone">Seleziona Codice Cartellone:</label>
            <select name="codCartellone" id="codCartellone">
                <option th:each="codCartellone : ${codCartelloneList}"
                        th:value="${codCartellone}"
                        th:text="${codCartellone}">Cartellone</option>
            </select>
            <button type="submit">Filtra per Codice Cartellone</button>
        </form>
    </div>

    <div id="dateRange" class="filter-section">
        <form action="#" th:action="@{/reportByDateRange}" method="get">
            <label for="startDate">Data Inizio:</label>
            <input type="date" id="startDate" name="startDate" required>

            <label for="endDate">Data Fine:</label>
            <input type="date" id="endDate" name="endDate" required>

            <button type="submit">Filtra per Intervallo di Date</button>
        </form>
    </div>

    <div id="codiceCartelloneDateRange" class="filter-section">
        <form action="#" th:action="@{/reportByCartelloneAndDateRange}" method="get">
            <label for="codCartelloneCombo">Seleziona Codice Cartellone:</label>
            <select name="codCartellone" id="codCartelloneCombo">
                <option th:each="codCartellone : ${codCartelloneList}"
                        th:value="${codCartellone}"
                        th:text="${codCartellone}">Cartellone</option>
            </select>

            <label for="startDateCombo">Data Inizio:</label>
            <input type="date" id="startDateCombo" name="startDate" required>

            <label for="endDateCombo">Data Fine:</label>
            <input type="date" id="endDateCombo" name="endDate" required>

            <button type="submit">Filtra per Codice Cartellone e Intervallo di Date</button>
        </form>
    </div>

    <div id="durataVisualForm" class="filter-section">
        <form action="#" th:action="@{/durataVisualByCartellone}" method="get">
            <label for="codCartelloneSelect">Seleziona Codice Cartellone:</label>
            <select id="codCartelloneSelect" name="codCartellone">
                <option value="">Seleziona Codice Cartellone</option>
                <option th:each="codCartellone : ${codCartelloneList}"
                        th:value="${codCartellone}"
                        th:text="${codCartellone}">Cartellone</option>
            </select>
            <button type="submit">Calcola Durata Visuale Complessiva</button>
        </form>
    </div>

    <div id="durataVisualFormDate" class="filter-section">
        <form action="#" th:action="@{/durataVisualByCartelloneAndDate}" method="get">
            <label for="codCartelloneSelectDate">Seleziona Codice Cartellone:</label>
            <select id="codCartelloneSelectDate" name="codCartellone">
                <option value="">Seleziona Codice Cartellone</option>
                <option th:each="codCartellone : ${codCartelloneList}"
                        th:value="${codCartellone}"
                        th:text="${codCartellone}">Cartellone</option>
            </select>
            <label for="startDate">Data Inizio:</label>
            <input type="date" id="startDate_" name="startDate" required>
            <label for="endDate">Data Fine:</label>
            <input type="date" id="endDate_" name="endDate" required>
            <button type="submit">Calcola Durata Visuale Complessiva per il Codice Cartellone e Data</button>
        </form>
    </div>
</div>

<div id="durataVisualResult">
    <h3 id="durataVisualMessage" th:if="${durataVisualComplessiva}">
        Durata Visuale Complessiva per il Cartellone: <span th:text="${durataVisualComplessiva}"></span> secondi
    </h3>
</div>

<div id="Eugenio">
    <table>
        <thead>
        <tr>
            <th>Codice Impianto</th>
            <th>Codice Palinsesto</th>
            <th>Data Inserimento</th>
            <th>Durata Visualizzazione</th>
            <th>Codice Cartellone ciao</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="segnalazione : ${segnalazioni}">
            <td th:text="${segnalazione.impianto.idImpianto}">Impianto</td>
            <td th:text="${segnalazione.palinsesto.idPalinsesto}">Palinsesto</td>
            <td th:text="${segnalazione.dataInserimento}">Data Inserimento</td>
            <td th:text="${segnalazione.durataVisual}">Durata Visualizzazione</td>
            <td th:text="${segnalazione.codCartellone}">Cartellone</td>
        </tr>
        </tbody>
    </table>
</div>


<script src="/Report_Impianti/report_impianti.js"></script>
</body>
</html>
