<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Segnalazioni per Impianto</title>
</head>
<body>
<h2>Segnalazioni per Impianto</h2>
<form th:action="@{/dbaccess/segnalazioni}" method="post">
    <label for="idImpianto">Seleziona l'ID dell'Impianto:</label><br>
    <select id="idImpianto" name="idImpianto" required>
        <option th:each="impianto : ${impianti}" th:value="${impianto.idImpianto}" th:text="${impianto.idImpianto}"></option>
    </select><br><br>

    <label for="startDateTime">Data e Ora Inizio:</label><br>
    <input type="datetime-local" id="startDateTime" name="startDateTime" required><br><br>

    <label for="endDateTime">Data e Ora Fine:</label><br>
    <input type="datetime-local" id="endDateTime" name="endDateTime" required><br><br>

    <button type="submit">Visualizza Segnalazioni</button>
</form>
</body>
</html>
