body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #cc9900; /* Sfondo giallo ocra */
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-section {
    padding: 10px;
}

.horizontal-section {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 300px;
    height: 300px;
    align-content: center;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-content: center;
}

.shake-animation {
    animation: shake 0.5s infinite alternate;
}

.move-up-animation {
    animation: moveUp 2s ease-in-out forwards, repeatMoveUp 3s infinite; /* Animazione ripetuta ogni 3 secondi */
}

@keyframes shake {
    from {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(5px);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes repeatMoveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
