body {
    background-image: url('immagini/18929803-cane-zampa-stampe-pista-su-nero-sfondo-vettoriale.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

.container {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-section {
    padding: 10px;
}

.image-container {
    width:400px;
    height: 300px;
    margin-top:40px;
    align-content: center;
    overflow: hidden;
}

.image-container img {
    width: 100%; /* Modificato */
    height: 100%; /* Modificato */
    object-fit: cover;
    align-content: center;
}



.shake-animation {
    animation: shake 0.5s infinite alternate;
}

.move-up-animation {
    animation: moveUp 2s ease-in-out forwards, repeatMoveUp 3s infinite; /* Animazione ripetuta ogni 3 secondi */
}

@keyframes shake {
    from {
        transform: translateX(-5px);
    }
    to {
        transform: translateX(5px);
    }
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes repeatMoveUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.price {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 15px 20px; /* Aumenta le dimensioni del prezzo */
    border-radius: 50%; /* Rendi il prezzo circolare */
    animation: zoomInOut 2s ease-in-out infinite alternate; /* Animazione di zoom in e zoom out */
}


@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}
