body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-container {
    display: flex;
    height: 50%;
}

#map {
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
}

#top-div {
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
}

#bottom-div {
    height: 50%;
    border: 1px solid #ccc;
}
