body {
    background-image: url('immagini/tech-background-design-template-2683d20d8817e9c0e1e2ec11bbf19269_screen.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo_amazon {
    display: flex;
    justify-content: center;
    height: 20%; /* Larghezza del 20% della pagina */
}

.logo_amazon img {
    align-content: center;
    max-width: 30%;
    height: 20%;
}

.moving-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:60%; /* Altezza del 80% del contenitore */
    max-width: 100%;
    align-content: center;
}

.image {
    position: relative;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px; /* Aumenta il margine superiore */
}

.image img {

    max-width: 60%; /* Rendi le immagini più piccole */
    height: auto;
    transition: transform 0.5s ease; /* Aggiungi transizione per l'effetto di zoom */

}

.price {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: purple; /* Colore iniziale: viola */
    color: white;
    padding: 15px 20px; /* Aumenta le dimensioni del prezzo */
    border-radius: 50%; /* Rendi il prezzo circolare */
    animation: zoomAndColorChange 5s ease-in-out infinite alternate; /* Animazione di zoom e cambio colore */
}

@keyframes zoomAndColorChange {
    0% {
        background-color: purple; /* Colore iniziale: viola */
        transform: translateX(-50%) scale(1); /* Scala normale */
    }
    25% {
        background-color: blue; /* Colore intermedio: blu */
        transform: translateX(-50%) scale(1.4); /* Zoom in */
    }
    50% {
        background-color: purple; /* Colore finale: viola */
        transform: translateX(-50%) scale(1); /* Scala normale */
    }
    75% {
        background-color: blue; /* Colore intermedio: blu */
        transform: translateX(-50%) scale(1.4); /* Zoom in */
    }
    100% {
        background-color: purple; /* Colore finale: viola */
        transform: translateX(-50%) scale(1); /* Scala normale */
    }
}


.description {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease; /* Aggiungi una transizione per un effetto più fluido */
}

@media screen and (max-width: 768px) {
    /* Modifica le dimensioni quando la larghezza della finestra è inferiore a 768px */
    .description {
        padding: 5px; /* Riduci il padding */
        font-size: 12px; /* Riduci la dimensione del testo */
        border-radius: 5px; /* Riduci il raggio del bordo */
    }
}

@media screen and (max-width: 480px) {
    /* Ulteriori modifiche quando la larghezza della finestra è inferiore a 480px */
    .description {
        padding: 2px; /* Riduci ulteriormente il padding */
        font-size: 10px; /* Riduci ulteriormente la dimensione del testo */
        border-radius: 3px; /* Riduci ulteriormente il raggio del bordo */
    }
}


.carrello-container {
    height: 20%;
    width: auto; /* Imposta la larghezza in base al contenuto */
    max-width: 100%; /* Assicura che non superi la larghezza del container */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.carrello img {
    max-height: 30%;
    width: 30%; /* Imposta la larghezza in base all'altezza per mantenere le proporzioni */
    animation: moveRight 7s linear infinite;
}

@keyframes moveRight {
    0% {
        transform: translateX(-100vw); /* Inizia al di fuori del viewport a sinistra */
    }
    100% {
        transform: translateX(100vw); /* Termina poco prima del bordo destro del viewport */
    }
}
