body {
    background-image: url('immagini/tech-background-design-template-2683d20d8817e9c0e1e2ec11bbf19269_screen.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo_amazon {
    display: flex;
    justify-content: center;
    height: 20%; /* Larghezza del 20% della pagina */
}

.logo_amazon img {
    align-content: center;
    max-width: 30%;
    height: 20%;
}

.moving-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:300px; /* Altezza del 80% del contenitore */
    max-width: 100%;
    overflow-y: auto; /* Permette lo scrolling verticale se necessario */
    margin-bottom: 20px; /* Aggiunge spazio alla parte inferiore */
}

.image {
    position: relative;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px; /* Aumenta il margine superiore */
}

.image img {

    max-width: 50%; /* Rendi le immagini più piccole */
    height: auto;
    transition: transform 0.5s ease; /* Aggiungi transizione per l'effetto di zoom */
}

.price {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: purple; /* Colore iniziale: viola */
    color: white;
    padding: 15px 20px; /* Aumenta le dimensioni del prezzo */
    border-radius: 50%; /* Rendi il prezzo circolare */
    animation: zoomAndColorChange 5s ease-in-out infinite alternate; /* Animazione di zoom e cambio colore */
}

@keyframes zoomAndColorChange {
    0% {
        background-color: purple; /* Colore iniziale: viola */
        transform: translateX(-50%) scale(1); /* Scala normale */
    }
    25% {
        background-color: blue; /* Colore intermedio: blu */
        transform: translateX(-50%) scale(1.4); /* Zoom in */
    }
    50% {
        background-color: purple; /* Colore finale: viola */
        transform: translateX(-50%) scale(1); /* Scala normale */
    }
    75% {
        background-color: blue; /* Colore intermedio: blu */
        transform: translateX(-50%) scale(1.4); /* Zoom in */
    }
    100% {
        background-color: purple; /* Colore finale: viola */
        transform: translateX(-50%) scale(1); /* Scala normale */
    }
}


.description {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
}


.carrello {
    position: fixed;
    top: 500px; /* Posizionato a 20px dal basso */
    width: calc(100vw / 1.78); /* Larghezza massima per rispettare il rapporto 16:9 */
    max-width: calc(100% - 80%); /* Limita la larghezza al 20% rimanente della pagina */
    animation: moveRight 9s linear infinite;
    z-index: 1; /* Assicura che il carrello sia sopra le altre componenti */
}


@keyframes moveRight {
    0% {
        left: -100%; /* Inizia al di fuori del viewport a sinistra */
    }
    100% {
        left: calc(100% - 100px); /* Termina poco prima del bordo destro del viewport */
    }
}
