body {
    background-image: url('immagini/tech-background-design-template-2683d20d8817e9c0e1e2ec11bbf19269_screen.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.logo_amazon {
    display: flex;
    justify-content: center;
    height: 20%;
}

.logo_amazon img {
    align-content: center;
    max-width: 30%;
    height: 20%;
}

.moving-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:60%;
    max-width: 100%;
    align-content: center;
}

.image {
    position: relative;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
}

.image img {

    max-width: 60%;
    height: auto;
    transition: transform 0.5s ease;

}

.price {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: purple;
    color: white;
    padding: 15px 20px;
    border-radius: 50%;
    animation: zoomAndColorChange 5s ease-in-out infinite alternate;
}

@keyframes zoomAndColorChange {
    0% {
        background-color: purple;
        transform: translateX(-50%) scale(1);
    }
    25% {
        background-color: blue;
        transform: translateX(-50%) scale(1.4);
    }
    50% {
        background-color: purple;
        transform: translateX(-50%) scale(1);
    }
    75% {
        background-color: blue;
        transform: translateX(-50%) scale(1.4);
    }
    100% {
        background-color: purple;
        transform: translateX(-50%) scale(1);
    }
}


.description {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .description {
        padding: 5px;
        font-size: 12px;
        border-radius: 5px;
    }
}

@media screen and (max-width: 480px) {

    .description {
        padding: 2px;
        font-size: 10px;
        border-radius: 3px;
    }
}


.carrello-container {
    height: 20%;
    width: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.carrello img {
    max-height: 30%;
    width: 30%;
    animation: moveRight 10s linear infinite;
}

@keyframes moveRight {
    0% {
        transform: translateX(-101vw);
    }
    100% {
        transform: translateX(100vw);
    }
}
